:host
  display: block

.app-svg
  display: block
  width: 100%

.app-v-path
  fill: var(--dx-logotype-v-fill)
  transition-duration: var(--dx-logotype-transition-duration)

.app-z-path
  fill: var(--dx-logotype-z-fill)
  transition-duration: var(--dx-logotype-transition-duration)
