@mixin _app-transition-mixin
  transition-duration: var(--dx-logotype-transition-duration)
  transition-property: fill
  transition-timing-function: var(--dx-logotype-transition-timing-function)


:host
  display: block

.app-svg
  display: block
  width: 100%

.app-v-path
  fill: var(--dx-logotype-v-fill)

  @include _app-transition-mixin

.app-z-path
  fill: var(--dx-logotype-z-fill)

  @include _app-transition-mixin
