<div class="app-section">
  <div class="app-section__wrapper">
    <div class="app-section__label"><span class="app-section__number">{{numberText()}}</span></div>
    <div class="app-section__content">
      <app-dx-skills
        [descriptionText]="sectionParameters().descriptionText"
        [skillDetailsMinHeightForDeviceWidthExtraSmall]="sectionParameters().detailsMinHeightForDeviceWidthExtraSmall"
        [skillDetailsMinHeightForDeviceWidthLarge]="sectionParameters().detailsMinHeightForDeviceWidthLarge"
        [skills]="sectionParameters().skills"
        [titleText]="sectionParameters().titleText"
      />
    </div>
  </div>
</div>
