<article class="app-dress-code">
  <h2 class="app-title">{{titleText()}}</h2>
  <div class="app-description-paragraphs">
    @for (paragraph of descriptionParagraphs(); track paragraph) {
      <p class="app-description__paragraph">{{paragraph}}</p>
    }
  </div>
  <div class="app-tints">
    @for (tint of tintsForTemplate(); track tint.text) {
      <div class="app-tints__item">
        <div class="app-tints__sample" [style]="tint.style"></div>
        <div class="app-tints__text">{{tint.text}}</div>
      </div>
    }
  </div>
</article>
