<div class="app-section">
  <div class="app-section__wrapper">
    <div class="app-section__label"><span class="app-section__codename">{{codename}}</span></div>
    <div class="app-section__content">
      <app-layout-hero>
        <app-root-page-hero
          [callToActionText]="sectionParameters().callToActionText"
          [contactGitHubURL]="sectionParameters().contactGitHubURL"
          [contactGmailURL]="sectionParameters().contactGmailURL"
          [contactTelegramText]="sectionParameters().contactTelegramText"
          [contactTelegramURL]="sectionParameters().contactTelegramURL"
          [contactsText]="sectionParameters().contactsText"
          [nameText]="sectionParameters().nameText"
          [titleXML]="sectionParameters().titleXML"
        />
      </app-layout-hero>
    </div>
  </div>
</div>
