<div class="app-section__wrapper">
  <app-dress-code
    [descriptionParagraphs]="sectionParameters().descriptionParagraphs"
    [illustrationImageAltText]="sectionParameters().illustration.imageAltText"
    [illustrationImageHeight]="sectionParameters().illustration.imageHeight"
    [illustrationImageURL]="sectionParameters().illustration.imageURL"
    [illustrationImageWidth]="sectionParameters().illustration.imageWidth"
    [tints]="sectionParameters().tints"
    [titleText]="sectionParameters().titleText"
  />
</div>
