@use './typography/typography'

@mixin app-ui-kit_h1-mixin
  @include typography.app-typography_h1-mixin

  color: var(--app-heading-color)

@mixin app-ui-kit_h2-mixin
  @include typography.app-typography_h2-mixin

  color: var(--app-heading-color)

@mixin app-ui-kit_h3-mixin
  @include typography.app-typography_h2-mixin

  color: var(--app-heading-color)

@mixin app-ui-kit_p-mixin
  @include typography.app-typography_p-mixin
