@use '../../typography/typography'
@use '../layout'

:host
  display: block

.app-footer
  @include layout.app-layout_paddings-mixin

.app-love-path
  stroke-linecap: round
  stroke-linejoin: round
  stroke-width: 2

.app-love-svg
  $_size: 20px

  display: inline
  stroke: none
  width: $_size
  height: $_size
  fill: currentColor
  color: #fca5a5

.app-paragraph
  @include typography.app-typography_p-mixin

  display: flex
  align-items: center
  gap: 4px
