@mixin app-typography_h2-mixin()
  margin-block: 0
  font-size: 40px
  line-height: initial

@mixin app-typography_h3-mixin()
  margin-block: 0
  line-height: initial

@mixin app-typography_h4-mixin()
  margin-block: 0
  line-height: initial

@mixin app-typography_p-mixin()
  margin-block: 0
