<article class="app-article">
  <h2 class="app-title">{{titleText}}</h2>
  <p class="app-description">{{descriptionText}}</p>
  <article>
    <h3 class="app-headings__title">{{headingsSubsection.title}}</h3>
    <h3 class="app-headings__heading-2">{{headingsSubsection.heading2}}</h3>
    <h4 class="app-headings__heading-3">{{headingsSubsection.heading3}}</h4>
    <h5 class="app-headings__heading-4">{{headingsSubsection.heading4}}</h5>
    <p class="app-headings__paragraph">{{headingsSubsection.paragraph}}</p>
    <h4 class="app-headings__heading-2">{{headingsSubsection.heading2}}</h4>
    <p class="app-headings__paragraph">{{headingsSubsection.paragraph}}</p>
    <h5 class="app-headings__heading-3">{{headingsSubsection.heading3}}</h5>
    <p class="app-headings__paragraph">{{headingsSubsection.paragraph}}</p>
    <h6 class="app-headings__heading-4">{{headingsSubsection.heading4}}</h6>
    <p class="app-headings__paragraph">{{headingsSubsection.paragraph}}</p>
  </article>
  <article>
    <h3 class="app-colors__title">{{colorsSubsection.title}}</h3>
    <div class="app-colors__cards">
      @for (card of colorsSubsection.grayCards; track card.cssClass) {
        <div>{{card.text}}</div>
        <div [class]="card.cssClass"></div>
      }
    </div>
  </article>
</article>

