@use 'sass:math'
@use '../../../../ui-kit/identity/transitions'
@use '../../../../ui-kit/layout/layout'
@use '../../../../ui-kit/ui-kit'

:host
  display: block

.app-content
  @include layout.app-layout_padding-inline-mixin

  padding-top: 20px
  padding-bottom: 40px

.app-highlight
  background: var(--app-gradient-diagonal)
  background-clip: text
  color: #0000

.app-name
  margin-block: 0.5em 1em
  font-size: var(--app-hero-name--font-size)
  line-height: initial

.app-title
  margin-block: 0
  font-size: var(--app-hero-title--font-size)
  line-height: initial

// # Contacts

.app-contacts
  $_border-width: 8px

  display: grid
  grid-template-rows: auto $_border-width auto
  border: 8px solid var(--app-decor-color--eee)

  @media (layout.$app-device-width-large <= width)
    grid-template-columns: auto $_border-width auto
    grid-template-rows: auto

.app-contacts__logotype
  $_size: 40px

  flex-shrink: 0
  width: $_size
  height: $_size

.app-contacts__logotype--github
  color: var(--app-github-invertocat-logotype-color)

// ## Gmail

.app-contacts__logotype--gmail
  display: flex

.app-gmail-logotype-component-container
  margin: auto

// ↑ Gmail

.app-contacts__separator
  background: var(--app-decor-color--eee)

// ## Primary contacts

.app-primary-contacts
  @include layout.app-layout_flex-column-mixin(16px)

  align-items: flex-start
  padding: 16px 8px

.app-primary-contacts__call-to-action
  margin-block: 0
  font-size: var(--app-call-to-action-description--font-size)
  line-height: initial

$_button-arrow-size: 20px
$_button-gap: 16px
$_button-translate-x: math.div($_button-gap + $_button-arrow-size, 2)

.app-priority-method-of-communication
  display: flex
  align-items: center
  column-gap: $_button-gap
  border: 1px solid var(--app-color--foreground--brand)
  padding: 16px
  text-decoration: none
  background: var(--app-color--foreground--brand)
  color: inherit

  @include transitions.app-transitions_transition-mixin(background)

  &:hover
    background: #0000

.app-priority-method-of-communication__content
  display: flex
  align-items: center
  column-gap: 8px
  font-size: var(--app-call-to-action-button--font-size)

  @include transitions.app-transitions_transition-mixin(translate)

  .app-priority-method-of-communication:hover &
    translate: $_button-translate-x

.app-arrow-left-icon-component-container
  flex-shrink: 0
  width: $_button-arrow-size
  height: $_button-arrow-size
  stroke: currentColor

  @include transitions.app-transitions_transition-mixin(opacity, translate)

  .app-priority-method-of-communication:hover &
    opacity: 0
    translate: $_button-translate-x

// ## Secondary contacts

.app-secondary-contacts
  @include layout.app-layout_flex-column-mixin(16px)

  padding: 16px 8px

  @include transitions.app-transitions_transition-mixin(filter, opacity)

  filter: grayscale(1)
  opacity: .7

  .app-contacts:hover &
    filter: grayscale(0)
    opacity: 1

.app-secondary-contacts__list
  display: flex
  column-gap: 16px

.app-secondary-contacts__title
  @include ui-kit.app-ui-kit_h3-mixin
