@use '../../../ui-kit/layout/layout'
@use '../../../ui-kit/ui-kit'

:host
  display: block

.app-section
  padding-block: 20px

.app-section__wrapper
  @include layout.app-layout_section-wrapper-mixin


.app-description
  @include layout.app-layout_flex-column-mixin(4px)

.app-description__paragraph
  @include ui-kit.app-ui-kit_p-mixin

.app-google-form-component-container
  @include ui-kit.app-ui-kit_glass-mixin

  margin-top: 16px
  border-radius: 16px
  padding: 4px
  max-width: 800px
  background: var(--app-surface-4-color)

.app-text-container
  @include layout.app-layout_flex-column-mixin(16px)
  @include layout.app-layout_padding-inline-mixin

.app-title
  @include ui-kit.app-ui-kit_h2-mixin
