<div class="app-section">
  <div class="app-section__wrapper">
    <div class="app-section__label"><span class="app-section__number">{{numberText()}}</span></div>
    <div class="app-section__content">
      <app-dx-projects
        [descriptionText]="sectionParameters().descriptionText"
        [emptyStateText]="sectionParameters().emptyStateText"
        [projects]="sectionParameters().projects"
        [resultTitleText]="sectionParameters().resultTitleText"
        [sourceCodeTitleText]="sectionParameters().sourceCodeTitleText"
        [titleText]="sectionParameters().titleText"
      />
    </div>
  </div>
</div>
