@use '../../../ui-kit/identity/transitions'
@use '../../../ui-kit/layout/layout'
@use '../../../ui-kit/ui-kit'

:host
  display: block

.app-event-program-stage-card
  $_period-from-container-width: 120px

  display: grid
  grid-template-columns: 1fr
  border-radius: 8px

  @include ui-kit.app-ui-kit_glass-mixin

  @media (width > layout.$app-device-width-medium)
    grid-template-columns: $_period-from-container-width auto


$_padding: 20px

.app-description
  @include layout.app-layout_flex-column-mixin(4px)

.app-description__paragraph
  @include ui-kit.app-ui-kit_p-mixin

.app-period-from-container
  padding: $_padding

.app-period-from
  border-radius: 16px
  padding: 4px 16px
  font-size: 20px

  @include ui-kit.app-ui-kit_glass-mixin

  color: var(--app-color-accent)

  @include transitions.app-transitions_transition-mixin(text-shadow)

  .app-event-program-stage-card:hover &
    text-shadow: 0 0 2px var(--app-color-accent)

.app-text-container
  @include layout.app-layout_flex-column-mixin(8px)

  padding: $_padding

.app-title
  @include ui-kit.app-ui-kit_h3-mixin
