@mixin app-theming_styles-mixin
  $_app-color-scheme-dark-selector: '.js-app-color-scheme--dark'
  $_app-color-scheme-light-selector: '.js-app-color-scheme--light'

  #{$_app-color-scheme-dark-selector}
    --app-github-invertocat-logotype-color: #fff

  #{$_app-color-scheme-light-selector}
    --app-github-invertocat-logotype-color: #24292f
