@mixin app-theming_styles-mixin
  $_app-color-scheme-dark-selector: '.js-app-color-scheme--dark'
  $_app-color-scheme-light-selector: '.js-app-color-scheme--light'

  #{$_app-color-scheme-dark-selector}
    color-scheme: dark

    --app-decor-color--eee: #111

    --app-decor-color--f6f6f6: #080808


    --app-surface-color: #000

    // TODO.
    --app-surface-color--f6f6f6: color-mix(in oklch, #111, #000)
    --app-surface-color--f6f6f6: #080808

    // TODO.
    --app-surface-color--f9f9f9: #050505


    --app-text-color: #ccc

    --app-text-color--444: #bbb

    --app-text-color--777: #888

  #{$_app-color-scheme-light-selector}
    color-scheme: light

    --app-decor-color--eee: #eee

    // TODO?
    // color-mix(in oklch, #eee, #fff) // → #f6f6f6
    --app-decor-color--f6f6f6: #f6f6f6


    --app-surface-color: #fff

    --app-surface-color--f6f6f6: color-mix(in oklch, #eee, #fff)
    // → #f6f6f6

    // TODO?
    // color-mix(in oklch, var(--app-surface-color) 90%, #7777) // → #f8f8f8
    --app-surface-color--f9f9f9: #f9f9f9


    --app-text-color: #333

    --app-text-color--444: #444

    --app-text-color--777: #777

  #{$_app-color-scheme-dark-selector}
    --app-angular-logotype-fill-color: #fff
    --app-github-invertocat-logotype-color: #fff
    --app-github-logotype-fill-color: #fff
    --app-html5-logotype-text-fill-color: #fff
    --app-node-js-logotype-text-fill-color: #fff

  #{$_app-color-scheme-light-selector}
    --app-angular-logotype-fill-color: #0f0f11
    --app-github-invertocat-logotype-color: #24292f
    --app-github-logotype-fill-color: #151013
    --app-html5-logotype-text-fill-color: #000
    --app-node-js-logotype-text-fill-color: #333
