@use '../layout'

:host
  display: block

.app-header
  display: flex
  align-items: center
  justify-content: space-between

  @include layout.app-layout_horizontal-paddings-mixin

  height: 44px

  .app-logotype-container
    $_transition-duration: var(--app-transition-duration)

    --dx-logotype-transition-duration: $_transition-duration
    --dx-logotype-v-fill: #ddd
    --dx-logotype-z-fill: #ddd

    transition: $_transition-duration

  &:hover .app-logotype-container
    --dx-logotype-v-fill: var(--dx-color-accent)
    --dx-logotype-z-fill: var(--dx-color-accent)

    rotate: 540deg

.app-logotype-container
  display: flex
  padding: 6px 0
  width: 30px
