@use '../../identity/identity'
@use '../layout'

:host
  display: block

.app-header
  display: flex
  align-items: center
  justify-content: space-between
  height: 44px

  .app-logotype-container
    --dx-logotype-v-fill: #ddd
    --dx-logotype-z-fill: #ddd

  &:hover .app-logotype-container
    --dx-logotype-v-fill: var(--dx-color-accent)
    --dx-logotype-z-fill: var(--dx-color-accent)

.app-logotype-container
  display: flex
  padding: 6px 0
  width: 40px
