 <article class="app-article">
  <h2 class="app-title">{{titleText()}}</h2>
  <p class="app-description">{{descriptionText()}}</p>
  <ul class="app-activities">
    @for (activity of activitiesForTemplate(); track activity.codename) {
      <li class="app-skills__item">
        <app-dx-activity-card
          [periodFrom]="activity.periodFrom"
          [periodTo]="activity.periodTo"
          [results]="activity.results"
          [role]="activity.role"
          [shortDescription]="activity.shortDescription"
          [skillsTitleText]="activitySkillsTitleText()"
          [skills]="activity.skills"
        />
      </li>
    }
  </ul>
</article>
