 <article class="app-article">
  <h2 class="app-title">{{titleText()}}</h2>
  <p class="app-description">{{descriptionText()}}</p>
  <ul class="app-list">
    @for (activity of activitiesForTemplate(); track activity.codename) {
      <li class="app-list__item">
        <app-dx-activity-card
          [period]="activity.period"
          [results]="activity.results"
          [role]="activity.role"
          [shortDescription]="activity.shortDescription"
          [skillsTitleText]="activitySkillsTitleText()"
          [skills]="activity.skills"
        />
      </li>
    } @empty {
      <p class="app-empty-state">{{emptyStateText()}}</p>
    }
  </ul>
</article>
