@use '../layout'

:host
  display: block

.app-header
  @include layout.app-layout_flex-column-mixin(16px)

  justify-content: space-between

  @include layout.app-layout_horizontal-paddings-mixin

  padding-top: 20px
  padding-bottom: 40px

  @include layout.app-layout_section-pattern-checkered-background-mixin

.app-contacts
  $_transition-duration: var(--app-transition-duration)

  display: flex
  column-gap: 8px
  filter: grayscale(1)
  opacity: .7
  transition: $_transition-duration

  .app-header:hover &
    filter: grayscale(0)
    opacity: 1

.app-contacts__item
  $_size: 40px
  width: $_size
  height: $_size

.app-contacts__item--github
  color: var(--app-github-invertocat-logotype-color)

.app-name
  margin: 0

.app-title
  margin: 0
  font-size: 36px
  line-height: initial

  @media (layout.$app-device-width-small <= width)
    font-size: 48px

  @media (layout.$app-device-width-medium <= width)
    font-size: 56px

.app-highlight
  background: var(--app-gradient-diagonal)
  background-clip: text
  color: #0000
