<article class="app-article">
  <div class="app-description-and-title-container">
    <h2 class="app-title"><span class="app-title__span">{{titleText()}}</span></h2>
    <p class="app-description">{{descriptionText()}}</p>
  </div>
  <div class="app-dx-skill-details-frame">
    <div
      class="app-dx-skill-details-container"
      [class.app-dx-skill-details-container--transition]="dxSkillDetailsContainerTransitionCSSClassIsApplied()"
      [style]="dxSkillDetailsContainerStyle()"
    >
      <app-dx-skill-details
        [name]="skillDetails().name"
        [proficiencyLevelDescription]="skillDetails().proficiencyLevelDescription"
        [proficiencyLevelListItems]="skillDetails().proficiencyLevelListItems"
        [referenceCaption]="skillDetails().referenceCaption"
        [referenceURL]="skillDetails().referenceURL"
        [shortDescription]="skillDetails().shortDescription"
      >
        <div class="app-dx-skill-details-container__logotype-container">
          <ng-container
            *ngTemplateOutlet="skillLogotypeTemplate; context: { $implicit: skillDetails().logotypeComponent }"
          />
        </div>
      </app-dx-skill-details>
    </div>
  </div>
  <ul class="app-skills">
    @for (skill of skillsSummaryForTemplate(); track skill.codename) {
      <li class="app-skills__item">
        <button
          class="app-skills__button"
          (click)="skillClickHandler(skill.codename)"
        >
          <app-dx-skill-card [titleAttribute]="skill.name">
            <ng-container *ngTemplateOutlet="skillLogotypeTemplate; context: { $implicit: skill.logotypeComponent }" />
          </app-dx-skill-card>
        </button>
      </li>
    }
  </ul>
</article>


<ng-template #skillLogotypeTemplate let-logotypeComponent>
  <ng-container *ngComponentOutlet="logotypeComponent" />
</ng-template>
