<article class="app-article">
  <h2 class="app-title">{{titleText()}}</h2>
  <ul class="app-skills">
    @for (skill of skillsForTemplate(); track skill.codename) {
      <li class="app-skills__item">
        <app-dx-skill-card
          [titleAttribute]="skill.name"
          [url]="skill.url"
        >
          <ng-container *ngTemplateOutlet="skillTemplate; context: { $implicit: skill.logotypeComponent }" />
        </app-dx-skill-card>
      </li>
    }
  </ul>
</article>


<ng-template #skillTemplate let-logotypeComponent>
  <ng-container *ngComponentOutlet="logotypeComponent" />
</ng-template>
