:host
  display: block
  height: 100%
// TODO: Do we need it? Or `width: 100%`? Should we provide a customization?

.app-svg
  display: block
  width: 100%
  height: 100%
  stroke: currentColor


.app-path
  stroke-width: 1
