<section class="app-section">
  <div
    class="app-text-ornament-component-container"
    [style]="textOrnamentComponentContainerStyle()"
  >
    <app-text-ornament [texts]="textOrnamentComponentTexts()" />
  </div>
  <div class="app-section__wrapper">
    <app-event-day
      [appealText]="sectionParameters().appealText"
      [authorsSignatureLines]="sectionParameters().authorsSignatureLines"
      [eventDateCaptionText]="sectionParameters().eventDateCaptionText"
      [eventDateValueText]="sectionParameters().eventDateValueText"
      [titleText]="sectionParameters().titleText"
    />
  </div>
</section>
