<article class="app-card">
  <div class="app-content">
    <h3 class="app-role">{{role()}}</h3>
    <p class="app-short-description">{{shortDescription()}}</p>
    <p class="app-period">{{period()}}</p>
    <ul>
      @for (result of results(); track result) {
        <li>{{result}}</li>
      }
    </ul>
    <h4 class="app-skills-title">{{skillsTitleText()}}</h4>
    <ul class="app-skills-list">
      @for (skill of skills(); track skill) {
        <li class="app-skills-list__item">{{skill}}</li>
      }
    </ul>
  </div>
</article>
