<div class="app-section">
  <div class="app-section__wrapper">
    <div class="app-section__label"><span class="app-section__number">{{numberText()}}</span></div>
    <div class="app-section__content">
      <app-dx-activities
        [activities]="sectionParameters().activities"
        [activityAchievementsTitleText]="sectionParameters().activityAchievementsTitleText"
        [activitySkillsTitleText]="sectionParameters().activitySkillsTitleText"
        [descriptionText]="sectionParameters().descriptionText"
        [emptyStateText]="sectionParameters().emptyStateText"
        [titleText]="sectionParameters().titleText"
      />
    </div>
  </div>
</div>
