<article class="app-event-details">
  <h2 class="app-title">{{titleText()}}</h2>
  <div class="app-description-paragraphs">
    @for (paragraph of descriptionParagraphs(); track paragraph) {
      <p class="app-description__paragraph">{{paragraph}}</p>
    }
  </div>
  <div class="app-wishes">
    @for (wish of wishesForTemplate(); track wish.text) {
      <p class="app-wishes__item">
        <span>{{wish.text}}</span>
        @if (wish.iconIsShown) {
          <span class="app-wishes__icon" [style]="wish.style"></span>
        }
      </p>
    }
  </div>
</article>
