<article class="app-article">
  <div class="app-ng-content-and-short-description-and-title-container">
    <div class="app-short-description-and-title-container">
      <h3 class="app-title">{{name()}}</h3>
      <p class="app-short-description">{{shortDescription()}}</p>
    </div>
    <ng-content />
  </div>
  <a
    class="app-link"
    [href]="referenceURL()"
    rel="noopener noreferrer"
    target="_blank"
  >
    <span>{{referenceURLText()}}</span>
    <span>{{externalLinkText}}</span>
  </a>
</article>
