@use '../../../ui-kit/identity/transitions'
@use '../../../ui-kit/layout/layout'
@use '../../../ui-kit/typography/typography'
@use '../../../ui-kit/ui-kit'

\:host
  display: block

.app-article
  padding: 20px

.app-link
  @include transitions.app-transitions_transition-mixin(color)

  display: inline-flex
  align-items: center
  column-gap: 4px
  text-decoration: none
  color: var(--app-link--fg-color)

  &:hover
    color: var(--app-link--fg-color-hover)

.app-link-and-short-description-and-title-container
  @include layout.app-layout_flex-column-mixin(8px)

.app-link-and-short-description-container
  @include layout.app-layout_flex-column-mixin(4px)

  align-items: start

  @include transitions.app-transitions_transition-mixin(opacity)

  opacity: .6

  &:hover
    opacity: 1

.app-ng-content-and-link-and-short-description-and-title-container
  display: flex
  align-items: start
  flex-wrap: wrap-reverse
  gap: 20px
  justify-content: space-between

  @media (layout.$app-device-width-medium <= width)
    flex-wrap: nowrap

.app-short-description
  @include typography.app-typography_p-mixin

.app-title
  @include ui-kit.app-ui-kit_h3-mixin
